@keyframes FadeIn {
  from {
      opacity: 0;}
    to {
      opacity: 1;}
}
@keyframes redtoblue {
  from {
    background-color: rgb(255, 0, 0);
    border-color: rgb(245, 0, 0);}
  to {
      background-color: rgb(65, 105, 225);
    border-color: rgb(65, 75, 255);}
}
@keyframes bluetored {
  from {
    background-color: rgb(65, 105, 225);
    border-color: rgb(65, 75, 255);}
  to {
    background-color: rgb(255, 0, 0);
    border-color: rgb(245, 0, 0);}
}
html,
body {
 background-color: #000000;
 color: #000000;
 background: #000000;
}
h1 {
color: #53ff;
}
p {
    color: white;
}
hr:not(#UpgradeHR) {
    height: 10px;
    color: chartreuse;
    background-color: purple;
    content: "🦭";
}
button {
 background-color: rgb(65, 105, 225);
 border-radius: 10px;
 border-color: rgb(65, 75, 255);
 font-size: 50px;
}

aside {
  border: none;
  border-top: 15px double aqua;
  color: crimson;
  overflow: visible;
  text-align: center;
  height: 15px;
}
#UpgradeHR {
  border: none;
  text-align: center;
  vertical-align: center;
  background-color: blue;
  border-radius: 200px;
  height: 50px;
 font-size: 40px;
}
#UpgradeHR::after {
    color: aqua;
  content: 'UPGRADES';
  position: relative;
  font-weight: bolder;
}
.U {
  opacity: 0;
}
.U.visible {
  opacity: 1;
  animation-duration: 1s;
  animation-name: FadeIn
  
}
#SAVE {
  left: 90%;
  bottom: 90%;
  position: fixed;
}
#SAVE.DELETE {
  background-color: red;
  animation-duration: 0.5s;
  animation-name: bluetored;
  border-color: rgb(245, 0, 0);
}
#SAVE.DELCONFIRM {
  border-color: #000000;
  background-color: #000000;
  color: white;
}
#SAVE.ANIM {
  animation-duration: 0.5s;
  animation-name: redtoblue;
}